<div *ngFor="let item of lineItems; let i = index" class="line-item">
  
  <!-- Dropdowns with fixed width -->
  <select [(ngModel)]="item.chargeType" class="dropdown">
    <option *ngFor="let type of getUniqueChargeTypes()" [value]="type">{{ type }}</option>
  </select>
  
  <select [(ngModel)]="item.item" class="dropdown">
    <option *ngFor="let kind of getItemsForChargeType(item.chargeType)" [value]="kind">{{ kind }}</option>
  </select>
  
  <select [(ngModel)]="item.option" class="dropdown">
    <option *ngFor="let option of getOptionsForItem(item.chargeType, item.item)" [value]="option">{{ option }}</option>
  </select>
  
  <!-- Input fields with fixed width -->
  <input type="number" [(ngModel)]="item.quantity" placeholder="Quantity" class="input-field">
  <input type="number" [(ngModel)]="item.amount" placeholder="Amount" class="input-field">
  <input type="text" [(ngModel)]="item.description" placeholder="Description" class="input-field">
  
</div>

<button (click)="addLineItem()">+</button>
